/*---[Global Styles]---*/

/*Variables*/
:root {
  --primary: rgb(234, 84, 51);
  --secondary: #fdf1ec;
  --tertiory: ;
  --darktext: #000000;
  --lighttext: #554e4c;
}

/*Global*/
html {
  font-size: 16px;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 1380px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

.padding {
  padding: 4rem 0;
}

a {
  text-decoration: none;
}

/*Flex*/

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-20 {
  flex: 0 1 20%;
}

.flex-25 {
  flex: 0 1 25%;
}

.flex-30 {
  flex: 0 1 30%;
}

.flex-32 {
  flex: 0 1 32%;
}

.flex-40 {
  flex: 0 1 40%;
}

.flex-47 {
  flex: 0 1 47%;
}

.flex-50 {
  flex: 0 1 50%;
}

.flex-60 {
  flex: 0 1 60%;
}

/*Buttons*/

.btn {
  display: inline-block;
  padding: 0.5rem 2rem;
  outline: none;
  border: none;
}

.btn-primary {
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.25rem;
}

.btn-secondary {
  color: #fff;
  border-radius: 2rem;
  background-color: rgba(225, 225, 225, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

/*Images*/

.font-0 {
  font-size: 0;
}

.full-width {
  width: 100%;
  object-fit: cover;
}

/*Position*/

.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.fix {
  position: fixed;
}

/*Headings*/

h1 {
  font-size: 3.5rem;
  font-weight: 700;
  color: #fff;
  margin: 1.5rem auto;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #fff;
  margin: 1.5rem auto;
}

h3 {
}

h4 {
  font-size: 3rem;
  font-weight: 600;
  color: var(--darktext);
  margin: 1rem auto;
}

h5 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 1.5rem;
}

h6 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--darktext);
  margin: 0.5rem auto;
}

.shadow {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

/*Header*/
.header {
  padding: 1rem 0;
}

.header-nav .active {
  color: var(--primary);
}

.header-nav a {
  margin-left: 2rem;
}

.header a {
  color: rgb(98, 84, 80);

  font-weight: 500;
}

.brand {
  font-size: 2.5rem;
  font-weight: 900;
}

.dd-list {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  color: var(--lighttext);
  width: 9rem;
  padding: 1rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  display: none;
  border-radius: 0.25rem;
}

.dropdown li {
  margin: 0.8rem auto;
}

.dropdown .fa-caret-up {
  color: #fff;
  font-size: 3rem;
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
}

.dd-list:hover .dropdown {
  display: inline-block;
}

.brand,
.bars {
  position: relative;
}

label,
#toggle {
  display: none;
}

/*Header Hover Effect*/

.header-nav a:hover {
  color: var(--primary);
}

.dropdown li:hover {
  color: var(--primary);
}

/*Footer*/
.footer-top {
  background-color: var(--secondary);
  padding: 1rem 2rem;
}

.footer-top .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4rem 0;
  color: var(--lighttext);
}

.footer-top address {
  margin: 1.5rem auto;
}

.footer-top h4 {
  color: black;
  font-size: 2.2rem;
  margin-top: 0rem;
}

.footer-top a {
  margin: 0.6rem auto;
  color: var(--lighttext);
}

.footer-top nav ul li a i {
  margin-right: 0.8rem;
  color: var(--primary);
}

.bold {
  font-weight: 700;
  margin-right: 0.4rem;
}

.newsletter {
  width: 100%;
  height: 3rem;
  border-radius: 2rem;
  border: 1px solid rgb(226, 175, 192);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 2rem auto;
}

.subscribe {
  width: fit-content;
  padding: 0 1rem;
  height: 3rem;
  border-radius: 2rem;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.footer-bottom {
  padding: 2rem 0;
}

.footer-bottom div small {
  display: block;
  font-size: 0.9rem;
}
.footer-bottom div small b {
  font-weight: 700;
}

.footer-bottom div small .pri-clr {
  color: var(--primary);
}

.footer-nav a {
  font-size: 1.3rem;
  display: inline-block;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: var(--primary);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

/*Hover Effects*/

.btn-primary:hover {
  background-color: rgba(234, 84, 51, 0.85);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}

.subscribe:hover {
  background-color: rgba(234, 84, 51, 0.85);
  cursor: pointer;
}

.footer-nav a:hover {
  background-color: rgba(234, 84, 51, 0.85);
}

/*Media Query*/

@media screen and (max-width: 1080px) {
  html {
    font-size: 12px;
  }

  .main {
    margin-top: 4.5rem;
  }

  label {
    display: inline-block;
  }

  /*Nav*/
  .header-nav {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    padding-top: 10rem;
    z-index: 99;
  }

  .header-nav a {
    color: rgb(194, 194, 194);
  }

  .brand,
  .bars {
    position: fixed;
    top: 1.5rem;
    z-index: 100;
  }

  .header .brand,
  .header .bars {
    color: rgb(234, 84, 51);
  }

  .brand {
    left: 1.5rem;
  }

  .bars {
    right: 1.5rem;
  }

  .header-nav .sm-column li {
    margin: 1rem 0;
    font-size: 2rem;
  }

  #toggle:checked ~ .header-nav {
    display: inline-block;
  }

  .bars {
    display: inline-block;
    color: #fff;
    font-size: 2rem;
  }

  .sm-column {
    flex-direction: column;
  }

  .dropdown {
    width: 15rem;
    padding: 0 1.5rem;
  }
  .dropdown a {
    font-size: 1rem;
  }

  .flex {
    flex-wrap: wrap;
  }

  .flex-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }

  .flex-20,
  .flex-25,
  .flex-30,
  .flex-32,
  .flex-40,
  .flex-50 {
    flex: 0 1 47%;
    margin-bottom: 2rem;
  }

  .flex-full {
    flex: 0 1 100%;
    margin-bottom: 2rem;
  }

  .features .flex-full {
    margin-bottom: 10rem;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }

  .flex {
    flex-wrap: wrap;
  }

  .flex-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }

  .flex-20,
  .flex-25,
  .flex-30,
  .flex-32,
  .flex-40,
  .flex-47,
  .flex-50,
  .flex-60 {
    flex: 0 1 100%;
    margin-bottom: 2rem;
  }

  .flex-cntr {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .mar {
    margin: 1.1rem auto;
  }
}
